:root{
    --font-poppins:'Poppins', sans-serif;
    --font-2xl:6rem;
    --font-xl:3rem;
    --font-md:1.5rem;
    --font-normal:1.2rem;
    --font-sm:1rem;
    --font-mini:0.825rem;
    --lightGreen:#E8F6E6;
    --lightGrey:#f8f8f8;
    --white:#ffff;
    --Brown:#C4AB92;
    --black:rgba(0,0,0,0.8);
    --mw:1440;
    --transition:0.3s ease;

}

/* common classes  */
.section-title{
    font-size: var(--font-md);
    color: var(--black);
    line-height: 140%;
    padding-bottom: 1rem;
}
.section-subtitle{
    color: var(--black);
    font-size: var(--font-mini);
}
/* common classes  */


/* navbar  */
.navbar{
    background-color: var(--lightGreen);
    max-width: var(--mw);
    width: 100%;
 
}

.navbar .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.logo{
    text-transform: capitalize;
    font-size: var(--font-md);
    font-weight: 600;
    flex-basis: 15%;
    color: var(--black);
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 60%;
}

.list-item{
    font-size: var(--font-sm);
    color:var(--black) ;
    font-weight: 500;
    transition: var(--transition);
}
.list-item:hover{
    color: var(--Brown);
}

.cart-icon{
    flex-basis: 15%;
}
.cart-icon i{
    color: var(--black);
    padding: 0 0.5rem;
    cursor: pointer;
    transition: var(--transition);

}
.cart-icon i:hover{
    color: var(--Brown);
}

.mobile-menu{
    display: none;
}
/* navbar  */

/* hero */
.hero{
    width: 100%;
    max-width: var(-mw);
    position: relative;
    background-color: var(--lightGreen);
    height: 500px;
}
.hero-img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-info{
    position: absolute;
    inset: 20% 0 0 0;
    width: 90%;
    margin-inline: auto;
    height: 60%;
}
.hero-subtitle{
    font-size: var(--font-md);
    text-transform: uppercase;
    color: var(--black);
    font-weight: 400;
    margin-block: 1rem;
  
}
.hero-title{
    font-size: var(--font-xl);
    font-weight: 700;
    width: 60%;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
    color: var(--black);
}
.hero-caption{
    display: block;
    width: 50%;
    line-height: 140%;
    padding-bottom: 2rem;
    text-transform: capitalize;
    font-size: var(--font-mini);
    color: var(--black);
    
}
.hero-btn{
    padding: 0.5rem 0.7rem;
    border: 0;
    background-color: #000;
    color: var(--lightGrey);
    margin-top: 1rem;
    border-radius: 0.2rem;
    
}
/* hero */


/* categories  */
.categories{
    width: 100%;
    max-width: var(mw);
    background-color: var(--white);
    padding-block: 2rem;
}

.categories .container{
    width: 90%;
    margin-inline:auto;
    text-align: center;
}
.categories-cards{
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
padding-top: 4rem;

}
.categories-cards>.card{
    flex-basis: 23%;
}
.categories-cards>.card img{
    width: 100%;
    object-fit: cover;
}
.card-title{
    text-transform: uppercase;
    font-size: var(--font-sm);
    padding-block: 0.5rem;
    color: var(--black);
    font-weight: 600;
}
.card-caption{
    font-size: var(--font-mini);
    color: var(--black);
}
/* categories  */